[Unit]
Description=WebSec Spring Boot API
After=network.target

[Service]
User=websec
WorkingDirectory=/home/websec/executable
ExecStart=/usr/bin/java -jar /home/websec/executable/web-security.jar
SuccessExitStatus=143
Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
